{{ if ne .Values.env_variables.APP_ENV "ci" }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "nops-k8s-agent.fullname" . }}-high
spec:
  schedule: "2 * * * *"
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        spec:
          activeDeadlineSeconds: {{ .Values.env_variables.APP_NOPS_K8S_AGENT_TIMEOUT }}
          {{ if .Values.serviceAccount.create }}
          serviceAccountName: {{ include "nops-k8s-agent.fullname" . }}
          {{ else }}
          serviceAccountName: default
          {{ end }}
          containers:
          - resources:
              limits:
                cpu: {{ .Values.resources.limits.cpu }}
                memory: {{ .Values.resources.limits.memory }}
              requests:
                cpu: {{ .Values.resources.requests.cpu }}
                memory: {{ .Values.resources.requests.memory }}
            name: {{ .Chart.Name }}
            env:
              - name: APP_APP_VERSION
                value: "{{ .Chart.AppVersion }}"
              - name: APP_CHART_VERSION
                value: "{{ .Chart.Version }}"
            envFrom:
              - configMapRef:
                  name: {{ .Chart.Name }}-configmap
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
            imagePullPolicy:  {{ .Values.image.pullPolicy }}
            command: ["python", "manage.py", "dumptos3", "--start-date", "", "--end-date", ""]
          restartPolicy: Never
{{ end }}
