apiVersion: apps/v1
kind: Deployment
metadata:
  name: nops-k8s-agent
  labels:
    app: nops-k8s-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nops-k8s-agent
  template:
    metadata:
      labels:
        app: nops-k8s-agent
    spec:
      serviceAccountName: nops-k8s-agent
      containers:
      - name: nops-k8s-agent
        envFrom:
        - configMapRef:
              name: nops-k8s-agent-configmap
        image: "ghcr.io/nops-io/nops-k8s-agent:master"
        ports:
          - name: http
            containerPort: 80
            protocol: TCP


